# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [3]:
import pandas as pd

In [4]:
# Change the path to the dataset file if needed. 
PATH = 'C:\\Users\\Phaneendra_Bhupathir\\OneDrive - EPAM\\Documents\\Pandas\\athlete events.csv'

In [5]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [81]:
participants = data[['Sex','Age','Year']] #Extracted required columns
youngest_participants = participants.loc[participants['Year']==1988].groupby('Sex').aggregate('min') #Filtered, grouped and aggregated
print(youngest_participants)

      Age  Year
Sex
F    11.0  1988
M    12.0  1988

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [126]:
players = data[['Name','Sex', 'Year', 'Sport']] #Extracted required data
Female_participants = players.loc[(players['Sex']=='F').values & (players['Year']==2012).values].drop_duplicates(subset='Name', keep='last').count()#Get female participants count
Female_bb_participants = players.loc[(players['Sex']=='F') & (players['Year']==2012) & (players['Sport']=='Basketball')].aggregate('count')#Get female basketball participants count
Female_bb_participants_percent = ((Female_bb_participants/Female_participants)*100).round(1) #Calculate percentage
print("Percentage of Female Basketball participants: "+ str(Female_bb_participants_percent.Name))

Percentage of Female Basketball participants: 3.1

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [244]:
x=data[['Sex', 'Height', 'Sport', 'Year']] #Extracted required data
y=x.loc[(x['Sex']=='F') & (x['Sport']=='Tennis') & (x['Year']==1988)] #Filtered female tennis playerd participated in 1988 olympics
print(y.groupby('Sex').agg({'Height':['mean', 'max']}).round(1).reset_index(drop=False)) #Print mean and max height of them

  Sex Height
        mean    max
0   F  171.7  190.0

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [127]:
participants_1988 = data[data['Year']==1988] # Filtered 1988 Olympic participants
heaviest_athlete = participants_1988.query('Weight == Weight.max()').reset_index() # Filtered heaviest athelete data
print("Heaviest athlete Sport in 1988 Olympics: "+str(heaviest_athlete.Sport)) # Printing heaviest athelete sport

Heaviest athlete Sport in 1988 Olympics: 0    Weightlifting
Name: Sport, dtype: object

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [31]:
data[data['Name']=='John Aalberg'].groupby('Year')['Event'].count()

Year
1992    4
1994    4
Name: Event, dtype: int64

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [37]:
data[(data['Name']=='John Aalberg') & (data['City']=='Albertville')].groupby(['Name', 'City'])['Event'].count()

Name          City
John Aalberg  Albertville    4
Name: Event, dtype: int64

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [130]:
x = data[(data['Sport']=='Tennis') & (data['Medal']=='Gold') & (data['Year']==2012) & (data['Team']=='Belarus')] 
x.groupby(['Sport', 'Team', 'Year', 'Medal'])['Medal'].count()

Sport   Team     Year  Medal
Tennis  Belarus  2012  Gold     2
Name: Medal, dtype: int64

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [51]:
data2 = data.dropna() # Remove NaN values
spain_2016 = data2[(data2['Team']=='Spain') & (data2['Year']==2016)].agg({'Medal':'count'}) # Count of Spain medals in 2016 year
italy_2016 = data2[(data2['Team']=='Italy') & (data2['Year']==2016)].agg({'Medal':'count'}) # Count of Italy medals in 2016 year
print("Is it true Spain won fewer medals than Italy? " +str(italy_2016.Medal > spain_2016.Medal))

Is it true Spain won fewer medals than Italy? True

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [133]:
olympics_1988 = data[data['Year']==1988].drop_duplicates(subset='Sport', keep='first').count()
olympics_2002 = data[data['Year']==2002].drop_duplicates(subset='Sport', keep='first').count()
print("Absolute difference of unique sports in 1988 and 2002 Olympics: " +str(olympics_1988.Sport - olympics_2002.Sport))

Absolute difference of unique sports in 1988 and 2002 Olympics: 22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [135]:
data3 = data2.groupby('Team')['Medal'].count().sort_values(ascending=False).head(1)
print(data3.reset_index())

            Team  Medal
0  United States   4273